@using MVCuniversityManagementApp.Models
@using Microsoft.Ajax.Utilities
@{
      Layout = null;
    //List<Student> StudentRecords = ViewBag.StudentRecord;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RegisterStudent</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        label.error {
            color: red;
            font-style: italic;
          }
          .ui-datepicker-calendar {
              display:none;
          }
          .ui-datepicker-month {
              display:none;
          }
          h3.a {
                text-align: center;
           }
    </style>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">University Management System</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/Main/Main">Home</a></li>
                <li><a href="/Department/SaveDepartment">Save Department</a></li>
                <li><a href="/Department/ShowAllDepartment">Show All Department</a></li>
                <li><a href="/Course/SaveCourse">Save Course</a></li>
                <li><a href="/Teacher/SaveTeacher/">Save Teacher</a></li>
                <li><a href="/CourseAssign/CourseAssign/">Course Assign To Teacher</a></li>
                <li><a href="/CourseAssign/ViewCourseStatics/">View Course Statics</a></li>
                <li><a href="/Student/RegisterStudent/">Register Student</a>"</li>
            </ul>
        </div>
    </nav>
    @*<br /><br />*@
            <form method="POST" id="RegisterStudentsForm" >
                <fieldset>
                    <legend></legend>
                    <h3 class="a">Register Students</h3>
                    <table align="center">
                        <tr>
                            <td><label for="StudentName">Name</label></td>
                            <td><input type="text" id="StudentName" name="StudentName" /></td>
                        </tr>
                        <tr>
                            <td><label for="StudentEmail">Email</label></td>
                            <td><input type="text" id="StudentEmail" name="StudentEmail" /></td>
                        </tr>
                        <tr>
                            <td><label for="StudentContactNo">Contact No.</label></td>
                            <td><input type="text" id="StudentContactNo" name="StudentContactNo" /></td>
                        </tr>
                        <tr>
                            <td><label for="StudentDate">Date</label></td>
                            <td><input type="date" id="StudentDate" name="StudentDate" /></td>
                        </tr>
                        <tr>
                            <td><label for="StudentAddress">Address</label></td>
                            <td><textarea rows="4" cols="50" id="StudentAddress" name="StudentAddress"></textarea></td>
                        </tr>
                        <tr>
                            <td><label for="DepartmentId">Department</label></td>
                            <td>
                                <select id="DepartmentId" name="DepartmentId">
                                    <option value="">Select</option>
                                    @foreach (var aStudent in ViewBag.Departments)
                                    {
                                        <option value="@aStudent.DepartmentId">@aStudent.DepartmentCode</option>
                                    }
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><input type="submit" value="Register" onsubmit=""/></td>
                        </tr>
                        <tr>@ViewBag.Message</tr>
                    </table>
                </fieldset>
            </form>
        <script src="~/Scripts/jquery-1.10.2.js"></script>
        <script src="~/Scripts/jquery.validate.js"></script>

    @if(ViewBag.Message!= null)
    {
        <script type="text/javascript">
            window.onload = function(){
                alert("@ViewBag.Message");
                window.location.href = "@Url.Action("ShowRegisteredStudents", "Student")";
            };
        </script>
    }
    <script>
                $(document).ready(function () {
                    $("#RegisterStudentsForm").validate({
                        rules: {
                            StudentEmail: {
                                required: true,
                                email: true,
                            },
                        },
                        messages: {
                            StudentEmail: {
                                email: "Please enter email address correctly",
                            },
                        }
                    });
                });
    </script> 
</body>
</html>
